.slider-section {
  position: relative;

  .slider-container {
    position: relative;
    --container-height: calc(350px + 10vw);

    .slide {
      position: relative;
      overflow: hidden;
      min-height: 400px;

      &__image {
        width: 100%;
        height: var(--container-height);
        background-color: var(--bs-danger);
        overflow: hidden;
        isolation: isolate;
        display: block;
        background-size: 100%;
        background-position: center;

        @media (width < 768px) {
          height: auto;
        }

        &::after {
          content: '';
          position: absolute;
          inset: 0;
          max-width: 70%;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }

      &__content {
        position: absolute;
        inset-block-start: 0;
        height: var(--container-height);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 1rem;
        z-index: 1;
        max-width: 50%;
        padding-inline-start: calc(4% + 5vw);
        padding-inline-end: calc(2% + 2vw);
        background-color: rgba(var(--bs-secondary-rgb), 0.85);
        color: var(--bs-white);

        &::after {
          content: '';
          position: absolute;
          border-right: calc(var(--container-height) / 2.5) solid transparent;
          border-bottom: var(--container-height) solid transparent;
          border-top: var(--container-height) solid rgba(var(--bs-secondary-rgb), 0.85);
          inset-inline-start: 100%;
          inset-block-start: 0;
        }

        @media (width < 992px) {
          padding-inline-start: calc(1rem + 3vw);
        }

        @media (width < 768px) {
          height: auto;
          position: relative;
          padding: 5vw;
          max-width: 100%;
          gap: 0.25rem;

          &::after {
            border-right: initial;
            border-left: 100vw solid rgba(var(--bs-secondary-rgb), 0.9);
            border-bottom: initial;
            border-top: 100px solid transparent;
            inset-inline-start: 0;
            inset-block-start: initial;
            inset-block-end: 100%;
          }

        }
      }
    }
  }

  @media (width < 768px) {

    .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal {
      left: initial !important;
      right: 5vw;
      width: max-content !important;
    }

    .swiper-pagination-bullet-active {
      --swiper-pagination-color: var(--bs-white);
    }
  }
}

.home-about-section {
  position: relative;
  padding-block: calc(1.5rem + 3vw);
  isolation: isolate;

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    background-image: url('/assets/images/overlay-lines-dark.png');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .home-about-container {
    position: relative;

    .content {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
    }

    .image {
      --shape-size: 150px;
      position: relative;
      padding: calc(1rem + 0.75vw);
      isolation: isolate;
      max-width: 550px;
      width: 100%;
      margin-inline: auto;

      &::before,
      &::after {
        content: '';
        position: absolute;
        aspect-ratio: 1 / 1;
        background-color: var(--bs-secondary);
      }

      &::before {
        width: var(--shape-size);
        inset-inline-start: 0;
        inset-block-start: 0;
        z-index: -1;
      }

      &::after {
        width: calc(var(--shape-size) - 50px);
        inset-inline-end: 0;
        inset-block-end: 0;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }

      @media (width < 768px) {
        --shape-size: 110px;
        max-height: 300px;
        padding-inline: 0;

        &::before {
          inset-inline-start: calc(0px - 5vw);
        }

        &::after {
          inset-inline-end: calc(0px - 5vw);
        }
      }
    }
  }
}

.counters-section {
  position: relative;
  padding-block: calc(1.5rem + 2vw);
  background-color: var(--bs-primary);

  @media (prefers-color-scheme: dark) {
    background-color: #09186c;
  }

  .counters-container {
    width: 100%;

    .counters {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      align-items: center;
      margin: 0;
      padding: 0;
      list-style: none;
      color: var(--bs-white);
      line-height: normal;

      &__list {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 0.5rem;

        small {
          display: inline-block;
          max-width: 150px;
          line-height: 1.5eme;
        }

        h2.fs-1 {
          font-size: 2.5rem !important;
        }
      }

      @media (width < 768px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0;

        &__list {
          width: 100%;
          height: 100%;
          gap: 0;
          padding-block: 1rem;

          &:not(:last-child) {
            border-block-end: 1px solid #999;
          }

          &:is(:nth-child(1), :nth-child(3)) {
            border-inline-end: 1px solid #999;
          }

          &:is(:last-child) {
            grid-column: span 2;
          }
        }
      }
    }
  }
}

.why-amadeus-section {
  position: relative;
  padding-block: calc(2rem + 2vw);

  @media (width < 1200px) {
    padding-block: calc(1rem + 1vw);
  }

  .why-amadeus-container {
    position: relative;

    .why-amadeus {
      &__image {
        position: relative;
        max-width: 600px;
        margin-inline: auto;

        @media (width < 1200px) {
          margin-block-end: 5vw;
        }

        img {
          max-width: 100%;
          max-height: 100%;
          display: block;
        }

        .points {
          position: absolute;
          display: flex;
          flex-direction: column;
          gap: 1rem;
          inset: 0;
          margin: 0;
          padding: 0;

          &__item {
            background-color: var(--bs-white);
            border-radius: calc(var(--bs-border-radius) * 1.5);
            max-width: max-content;
            display: flex;
            align-items: center;
            padding-block: 0.4rem;
            padding-inline: 0.5rem 1rem;
            gap: 1rem;
            font-weight: 600;
            position: absolute;
            animation: beat 1.25s infinite alternate;
            transform-origin: center;
            color: var(--bs-primary);
            box-shadow:
              2px 6.7px 5.3px rgba(var(--bs-dark-rgb), 0.016),
              6.7px 22.3px 17.9px rgba(var(--bs-dark-rgb), 0.024),
              30px 100px 80px rgba(var(--bs-dark-rgb), 0.04);

            @media (width < 768px) {
              scale: 0.5;
            }

            @keyframes beat {
              to {
                scale: 1.14;
              }
            }

            @media (width < 768px) {
              @keyframes beat {
                to {
                  scale: 0.75;
                }
              }
            }

            .icon {
              width: 40px;
              aspect-ratio: 1/1;
            }

            &:nth-child(1) {
              inset-inline-end: 7%;
              inset-block-start: 20%;
              animation-delay: 500ms;
            }

            &:nth-child(2) {
              inset-inline-start: -5%;
              inset-block-start: 50%;
              animation-delay: 800ms;
            }

            &:nth-child(3) {
              inset-block-end: 5%;
              inset-inline-end: 15%;
              animation-delay: 50ms;
            }

            @media (width < 768px) {
              scale: 0.5;

              &:nth-child(1) {
                inset-inline-end: -8%;
              }

              &:nth-child(3) {
                inset-inline-end: 5%;
              }
            }

          }

        }
      }

      &__content {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-inline-start: calc(0.5rem + 1vw);
        gap: 1.25rem;

        .content-list {
          list-style: none;
          margin: 0;
          padding: 0;
          display: flex;
          gap: 1rem;
          flex-direction: column;

          &__item {
            --icon-size: 85px;
            display: flex;
            align-items: center;
            gap: 1.5rem;

            .icon {
              width: var(--icon-size);
              height: var(--icon-size);
              flex-shrink: 0;
              border-radius: var(--icon-size);
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: rgba(var(--bs-secondary-rgb), 0.08);
              padding: 1.5rem;
            }
          }

          @media (width < 768px) {
            flex-direction: row;
            overflow-x: scroll;
            width: 100vw;
            margin-inline-start: -8vw;
            padding-inline: 5vw;

            &__item {
              border-radius: 0.35rem;
              flex-direction: column;
              min-width: 250px;
              border: 1px solid #999;
              padding: 5vw;
            }
          }
        }
      }
    }
  }
}

.testimonial-section {
  position: relative;
  padding-block: calc(2rem + 1vw);

  @media (width < 1200px) {
    .container {
      padding: 0;
    }
  }

  .testimonial-container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: calc(0.5rem + 1vw);

    .testimonial-card-container {
      .testimonial-card {
        position: relative;
        background-color: var(--bs-white);
        padding-inline: calc(1rem + 0.5vw);
        padding-block-end: calc(1rem + 0.5vw);
        width: 100%;
        // min-width: 300px;
        color: var(--bs-dark);
        margin-block: 65px;

        .author-info {
          --image-width: 150px;
          position: relative;
          inset-block-start: -2.5rem;
          margin-block-end: -2.5rem;

          .__image {
            width: var(--image-width);
            padding: 1rem;
            margin-block-end: 0.5rem;
            position: relative;
            isolation: isolate;

            img {
              width: var(--image-width);
              aspect-ratio: 1/1;
              display: block;
            }

            &::after {
              content: '';
              position: absolute;
              inset-block-start: 0;
              inset-inline-start: 0;
              z-index: -1;
              width: calc(var(--image-width) / 1.4);
              background-color: var(--bs-secondary);
              aspect-ratio: 1/1;
            }

            .social-links {
              position: absolute;
              inset-inline-start: calc(100% + 2rem);
              inset-block-end: 1rem;
              list-style: none;
              margin: 0;
              padding: 0;
              display: flex;
              gap: 0.5rem;

              &__item {
                width: 30px;
                aspect-ratio: 1/1;
                line-height: 33px;
                border: 1px solid currentColor;
                display: flex;
                justify-content: center;
                transition: var(--bs-transition);
                cursor: pointer;

                &:hover {
                  background-color: var(--bs-secondary);
                  border-color: var(--bs-secondary);
                  color: var(--bs-white);
                }
              }
            }
          }
        }
      }

      .swiper .swiper-slide {
        @media (width > 767px) {
          .testimonial-card {
            // scale: 0.85; 
            transition: scale 0.6s ease-in-out;

            &:hover {
              scale: 1.1;
              box-shadow:
                0px 6.7px 5.3px rgba(var(--bs-dark-rgb), 0.016),
                0px 22.3px 17.9px rgba(var(--bs-dark-rgb), 0.024),
                0px 100px 80px rgba(var(--bs-dark-rgb), 0.04);
            }
          }

          &:is(.swiper-slide-active) {
            .testimonial-card {}
          }
        }

        @media (width < 768px) {
          padding-inline: 5vw;
        }
      }

      .swiper-pagination-bullet-active {
        --swiper-pagination-color: var(--bs-secondary);
      }

      .swiper-button-next,
      .swiper-rtl .swiper-button-prev {
        --swiper-navigation-sides-offset: 0px;
        --swiper-navigation-size: 34px;
      }
      
      .swiper-button-prev,
      .swiper-rtl .swiper-button-next {
        --swiper-navigation-sides-offset: 0px;
        --swiper-navigation-size: 34px;
      }

      @media (prefers-color-scheme: dark) {
        .swiper-pagination-bullet-active {
          --swiper-pagination-color: var(--bs-white);
        }

        .swiper-pagination-bullet {
          --swiper-pagination-bullet-inactive-color: var(--bs-white);
        }
      }
    }
  }
}

.subscribe-section {
  position: relative;
  background-color: #F5F7FF;
  padding-block: calc(2.5rem + 2vw);
  isolation: isolate;

  @media (prefers-color-scheme: dark) {
    background-color: #09186c;
  }

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    background-image: url('/assets/images/overlay-lines-dark.png');
    background-size: auto 100%;
  }

  .subscribe-container {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .newsletterForm {
      --element-height: 50px;
      position: relative;
      margin-block-start: 1rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1rem;

      input {
        height: var(--element-height);
        background-color: var(--bs-white);
        border: 0;
        outline: none;
        padding-inline: 1.2rem;
        min-width: 500px;
        color: var(--bs-dark);
        box-shadow:
          0px 6.7px 5.3px rgba(var(--bs-dark-rgb), 0.028),
          0px 22.3px 17.9px rgba(var(--bs-dark-rgb), 0.042),
          0px 100px 80px rgba(var(--bs-dark-rgb), 0.07);
      }

      button {
        height: var(--element-height);
        padding-inline: 1.5rem;
        border: 0;
        outline: 0;
        background-color: var(--bs-secondary);
        color: var(--bs-white);
        transition: var(--bs-transition);
        box-shadow:
          0px 6.7px 5.3px rgba(var(--bs-dark-rgb), 0.028),
          0px 22.3px 17.9px rgba(var(--bs-dark-rgb), 0.042),
          0px 100px 80px rgba(var(--bs-dark-rgb), 0.07);

        &:hover {
          background-color: var(--bs-primary);
        }
      }

      @media (width < 768px) {

        input,
        button {
          min-width: 100%;
        }
      }
    }
  }

}

.hero-video-section {
  position: relative;
  width: 100%;

  .hero-video-container {
    position: relative;
    width: 100%;
    height: calc(100vh - calc(var(--bs-header-height) * 1.25));
    overflow: hidden;

    @media (width < 768px) {
      height: calc(75vh - calc(var(--bs-header-height) * 1.25));
    }

    video,
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .video-content {
    color: var(--bs-white);
    position: absolute;
    inset: 0;
    background-color: rgba(var(--bs-black-rgb), 0.5);
    display: flex;
    align-items: center;

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;

      @media (width < 768px) {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: calc(1rem + 5vw);
      }

      .text {
        max-width: 600px;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .heading {
          font-size: clamp(1.25rem, 8vw, 2.5rem) !important;
          line-height: normal !important;
        }
      }

      .play-icon {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.5rem;
        cursor: pointer;
        transition: var(--bs-transition);

        &:hover {
          scale: 1.25;
        }
      }
    }
  }
}